<div class="px-4 pt-0 py-4 h-[88%]">
    <div class="grid grid-cols-12 gap-6 h-full">
        <!-- Product List -->
        <div class="col-span-8 p-4 bg-white rounded-md overflow-y-auto custom-scrollbar scrollbar-w-2">
            {{#if isEmpty}}
            <div class="flex flex-col gap-y-8 items-center justify-center h-full">
                <img width="50%" src="/images/system/empty-cart.png" />
                <a href="/" class="bg-primary text-white py-1 px-3 rounded-md">Quay lại trang chủ</a>
            </div>
            {{else}}
            <div class="flex flex-col gap-y-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-x-2">
                        <i class="ti-shopping-cart font-bold text-2xl text-primary mb-1"></i>
                        <span class="text-xl font-semibold">Các sản phẩm đã chọn</span>
                    </div>

                    <a href="/" class="text-primary text-sm bg-orange-50 px-3 py-1 rounded-lg">Quay lại</a>
                </div>
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-primary bg-gray-50">
                        <tr>
                            <th class="px-6 py-3">STT</th>
                            <th class="px-6 py-3">Hình ảnh</th>
                            <th class="px-6 py-3">Tên sản phẩm</th>
                            <th class="px-6 py-3">Đơn giá</th>
                            <th class="px-6 py-3">Số lượng</th>
                            <th class="px-6 py-3">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each carts}}
                        <tr class="bg-white border-b hover:bg-gray-50">
                            <td class="px-6 py-4">{{no}}</td>
                            <td class="px-6 py-4">
                                <img class="object-cover rounded-md  w-[70px] h-[70px]"
                                    src="/images/product/{{product.thumbnail}}" alt="Ảnh sản phẩm" />
                            </td>
                            <td class="px-6 py-4">{{product.name}}</td>
                            <td class="px-6 py-4">{{price}}</td>
                            <td class="px-6 py-4">{{quantity}}</td>
                            <td class="px-6 py-4">{{subTotal}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}

        </div>

        <!-- Payment Info -->
        <div class="col-span-4">
            <form method="post" action="/orders/checkout" class="flex flex-col gap-y-4">
                <div class="flex flex-col gap-y-4 p-4 bg-white rounded-md">
                    <h2 class="text-lg font-semibold">Thông tin khách hàng</h2>
                    <div class="flex flex-col gap-y-4">
                        <div class="flex flex-col gap-y-1">
                            <label>Số điện thoại</label>
                            <input name="phoneNumber" id="input-phoneNumber"
                                class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md"
                                placeholder="Số điện thoại" />
                        </div>

                        <div class="flex flex-col gap-y-1">
                            <label>Họ và tên</label>
                            <input name="fullName" id="input-name"
                                class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md"
                                placeholder="Họ và tên" />
                        </div>

                        <div class="flex flex-col gap-y-1">
                            <label>Địa chỉ</label>
                            <input name="address" id="input-address"
                                class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md"
                                placeholder="Địa chỉ" />
                        </div>
                        <div id="alert-warning"
                            class="hidden bg-red-50 text-red-600 rounded-lg p-4 border-[1px] border-red-200">
                            Khách hàng chưa tồn tại
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-y-4 p-4 bg-white rounded-md">
                    <h2 class="text-lg font-semibold">Thông tin hóa đơn</h2>
                    <div class="flex justify-between">
                        <span>Tổng cộng</span>
                        <span class="font-normal text-lg">{{totalPrice}}</span>
                        <input data-amount="{{rawTotalPrice}}" hidden name="totalAmount" value="{{totalPrice}}" />
                    </div>

                    <div class="flex flex-col gap-y-2">
                        <input name="givenAmount"
                            class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md"
                            placeholder="Số tiền khách đưa" />
                        <div class="flex justify-between mt-4">
                            <span>Tiền trả lại</span>
                            <span id="refund-amount" class="font-normal text-lg">0 VND</span>
                            <input hidden name="refundAmount" />
                        </div>
                    </div>
                </div>

                <div>
                    <button id="btn-checkout" type="submit" class="w-full bg-primary text-white px-4 py-2 rounded-md">Thanh toán và In hóa
                        đơn</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="/js/checkout.js"></script>