<div class="px-4 pt-0 py-4 h-full flex flex-col gap-4">
    <div class="bg-white p-4 rounded-md flex flex-col gap-y-6">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <i class="ti-user font-bold text-xl text-primary" style="margin: 0; padding: 0;"></i>
                <span class="text-lg font-semibold" style="margin: 0; padding: 0;">DANH SÁCH KHÁCH HÀNG</span>
            </div>
            <div class="flex items-center gap-x-4">
                <form method="GET" action="/customers/" class="flex items-center pl-3 rounded-lg bg-gray-100">
                    <img width="15" height="15" src="/svg/search-svg-com.svg" />
                    <input name="search" value="{{query.search}}"
                        class="px-2 py-[10px] outline-none border-none text-sm bg-gray-100"
                        placeholder="Tìm kiếm khách hàng..." />
                    <input type="hidden" name="page" value="{{pagination.page}}">
                    <input type="hidden" name="size" value="{{pagination.size}}">
                    <button type="submit" class="px-4 py-2 rounded-md bg-primary text-white">Tìm kiếm</button>
                </form>
            </div>
        </div>

        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Họ và tên
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Số điện thoại
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Địa chỉ
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Thao tác
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#unless isEmpty}}
                {{#each customers}}
                <tr class="bg-white border-b hover:bg-gray-50">

                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{fullName}}
                    </th>
                    <td class="px-6 py-4">{{phoneNumber}}</td>
                    <td class="px-6 py-4">{{address}}</td>
                    <td class="px-6 py-4">
                        <a href="/customers/{{_id}}"
                            class="text-green-600 transition-all ease-linear duration-300 border-[1px] border-green-600 hover:bg-green-600 hover:text-white font-medium py-1 px-2 rounded-md">
                            Chi tiết
                        </a>
                    </td>
                </tr>
                {{/each}}
                {{/unless}}


            </tbody>
        </table>

        {{#if isEmpty}}
        <p class="text-center text-gray-500 py-4">Chưa có khách hàng nào</p>
        {{/if}}
        {{#if (gt pagination.totalPages 1)}}
        <div class="py-4 flex justify-end">
            <div class="flex items-center gap-x-2 text-sm">
                {{#if (gt pagination.page 1)}}
                <a href="/customers?page={{subtract pagination.page 1}}&size={{pagination.size}}">
                    <button
                        class="w-8 h-8 text-primary bg-slate-100 text-gray-500 hover:bg-primary hover:text-white rounded-lg flex items-center justify-center">
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                    </button>
                </a>
                {{/if}}

                {{#paginationPages pagination.page pagination.totalPages}}
                {{#if (eq this ../pagination.page)}}
                <a href="#" class="cursor-default">
                    <button class="w-8 h-8 text-white rounded-lg bg-primary">{{this}}</button>
                </a>
                {{else}}
                <a href="/customers?page={{this}}&size={{../pagination.size}}">
                    <button
                        class="w-8 h-8 text-primary hover:bg-primary hover:text-white rounded-lg bg-slate-100 text-gray-500">{{this}}</button>
                </a>
                {{/if}}
                {{/paginationPages}}

                {{#if (lt pagination.page pagination.totalPages)}}
                <a href="/customers?page={{add pagination.page 1}}&size={{pagination.size}}">
                    <button
                        class="w-8 h-8 text-primary hover:bg-primary bg-slate-100 text-gray-500 hover:text-white rounded-lg flex items-center justify-center">
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                    </button>
                </a>
                {{/if}}
            </div>
        </div>
        {{/if}}

    </div>