<div class="px-4 pt-0 py-4 h-full">
    <div class="grid grid-cols-12 gap-6 h-full">
        <div class="col-span-8 p-4 bg-white rounded-md flex flex-col gap-y-4">
            <div class="flex justify-between items-center">
                <div class="flex flex-col items-start">
                    <span class="text-xl">CHI TIẾT ĐƠN HÀNG <b>{{order.id}}</b></span>
                    <p>Thời gian giao dịch: {{order.orderDate}}</p>
                </div>
                <a href="/orders/invoice/{{order.id}}" class="bg-primary text-white px-4 py-2 rounded-md">Xem
                hóa đơn</a>
            </div>
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-primary bg-gray-50">
                    <tr>
                        <th class="px-6 py-3">STT</th>
                        <th class="px-6 py-3">Hình ảnh</th>
                        <th class="px-6 py-3">Tên sản phẩm</th>
                        <th class="px-6 py-3">Đơn giá</th>
                        <th class="px-6 py-3">Số lượng</th>
                        <th class="px-6 py-3">Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orderItems}}
                    <tr class="bg-white border-b hover:bg-gray-50">
                        <td class="px-6 py-4">{{index}}</td>
                        <td class="px-6 py-4">
                            <img class="object-cover rounded-md  w-[70px] h-[70px]"
                                src="/images/product/{{product.thumbnail}}" alt="Ảnh sản phẩm" />
                        </td>
                        <td class="px-6 py-4">{{product.name}}</td>
                        <td class="px-6 py-4">${{price}}</td>
                        <td class="px-6 py-4">{{quantity}}</td>
                        <td class="px-6 py-4">${{subTotal}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <!-- Payment Info -->
        <div class="col-span-4">
            <div class="flex flex-col gap-y-4">
                <div class="flex flex-col gap-y-4 p-4 bg-white rounded-md">
                    <h2 class="text-lg font-semibold">Thông tin khách hàng</h2>
                    <div class="flex flex-col gap-y-4">
                        <div class="flex flex-col gap-y-1">
                            <label>Số điện thoại</label>
                            <span class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md">
                                {{order.customer.phoneNumber}}
                            </span>
                        </div>

                        <div class="flex flex-col gap-y-1">
                            <label>Họ và tên</label>
                            <span class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md">
                                {{order.customer.fullName}}
                            </span>
                        </div>

                        <div class="flex flex-col gap-y-1">
                            <label>Địa chỉ</label>
                            <span class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md">
                                {{order.customer.address}}
                            </span>
                        </div>
                        <div id="alert-warning"
                            class="hidden bg-red-50 text-red-600 rounded-lg p-4 border-[1px] border-red-200">
                            Khách hàng chưa tồn tại
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-y-4 p-4 bg-white rounded-md">
                    <h2 class="text-lg font-semibold">Thông tin hóa đơn</h2>
                    <div class="flex flex-col gap-y-4">
                        <div class="flex flex-col gap-y-1">
                            <label>Tổng tiền</label>
                            <span class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md">
                                {{order.totalAmount}}
                            </span>
                        </div>

                        <div class="flex flex-col gap-y-1">
                            <label>Tiền khách đưa</label>
                            <span class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md">
                                {{order.givenAmount}}
                            </span>
                        </div>

                        <div class="flex flex-col gap-y-1">
                            <label>Tiền thối lại</label>
                            <span class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md">
                                {{order.refundAmount}}
                            </span>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/checkout.js"></script>