<div class="p-4">
    <div class="bg-white p-4 rounded-md flex flex-col gap-y-6">
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-x-2">
                <i class="ti-shopping-cart font-bold text-2xl text-primary mb-0"></i>
                <span class="text-xl font-semibold">DANH SÁCH ĐƠN HÀNG</span>
            </div>
            <!-- Bộ lọc ngày -->
            <div class="flex items-center gap-4">
                <div class="flex items-center gap-x-2">
                    Từ
                    <input value="{{from}}" id="from-date" name="from" type="date"
                        class="px-4 py-2 rounded-md hover:bg-orange-50 hover:text-primary {{#if from}}bg-orange-50 text-primary{{else}}bg-slate-100{{/if}}" />
                </div>
                <div class="flex items-center gap-x-2">
                    Đến
                    <input value="{{to}}" id="to-date" name="to" type="date"
                        class="px-4 py-2 rounded-md hover:bg-orange-50 hover:text-primary {{#if to}}bg-orange-50 text-primary{{else}}bg-slate-100{{/if}}" />
                </div>
                <button id="filter-btn"
                    class="px-4 py-2 bg-primary text-white rounded-md hover:bg-primary-dark transition">
                    Lọc
                </button>
            </div>
            <!-- Tìm kiếm -->
            <form method="get" action="/orders" class="flex items-center gap-x-2 bg-gray-100 rounded-lg px-3 py-2">
                <img width="15" height="15" src="/svg/search-svg-com.svg" />
                <input type="text" name="search" value="{{search}}"
                    class="text-sm px-2 py-1 bg-transparent outline-none border-none"
                    placeholder="Tìm kiếm theo tên khách hàng..." />
                <input type="hidden" name="page" value="{{pagination.page}}">
                <input type="hidden" name="size" value="{{pagination.size}}">
                <button type="submit" class="px-4 py-2 text-sm text-white bg-primary rounded-md">
                    Tìm kiếm
                </button>
            </form>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Mã đơn hàng
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Khách hàng
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Ngày mua hàng
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tổng tiền
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Thao tác
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#unless isEmpty}}

                {{#each orders}}
                <tr class="bg-white border-b hover:bg-gray-50">
                    <td class="px-6 py-4">{{id}}</td>
                    <td class="px-6 py-4">{{customer.fullName}}</td>
                    <td class="px-6 py-4">{{orderDate}}</td>
                    <td class="px-6 py-4">{{totalAmount}}</td>
                    <td class="flex items-center px-6 py-4">
                        <a href="/orders/{{id}}"
                            class="text-green-600 transition-all ease-linear duration-300 border-[1px] border-green-600 hover:bg-green-600 hover:text-white font-medium py-1 px-2 rounded-md">
                            <i class="ti-eye"></i>
                            Chi tiết
                        </a>
                    </td>
                </tr>

                {{/each}}
                {{/unless}}


            </tbody>
        </table>

        {{#if isEmpty}}
        <p class="text-center text-gray-500 py-4">Không có đơn hàng nào</p>
        {{/if}}
        {{#if (gt pagination.totalPages 1)}}
        <div class="py-4 flex justify-end">
            <div class="flex items-center gap-x-2 text-sm">
                {{#if (gt pagination.page 1)}}
                <a href="/orders?page={{subtract pagination.page 1}}&size={{pagination.size}}">
                    <button
                        class="w-8 h-8 text-primary bg-slate-100 text-gray-500 hover:bg-primary hover:text-white rounded-lg flex items-center justify-center">
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                    </button>
                </a>
                {{/if}}

                {{#paginationPages pagination.page pagination.totalPages}}
                {{#if (eq this ../pagination.page)}}
                <a href="#" class="cursor-default">
                    <button class="w-8 h-8 text-white rounded-lg bg-primary">{{this}}</button>
                </a>
                {{else}}
                <a href="/orders?page={{this}}&size={{../pagination.size}}">
                    <button
                        class="w-8 h-8 text-primary hover:bg-primary hover:text-white rounded-lg bg-slate-100 text-gray-500">{{this}}</button>
                </a>
                {{/if}}
                {{/paginationPages}}

                {{#if (lt pagination.page pagination.totalPages)}}
                <a href="/orders?page={{add pagination.page 1}}&size={{pagination.size}}">
                    <button
                        class="w-8 h-8 text-primary hover:bg-primary bg-slate-100 text-gray-500 hover:text-white rounded-lg flex items-center justify-center">
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                    </button>
                </a>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</div>
<script src="js/order.js"></script>